/*index.html 페이지용 스타일*/

#container {    /*전체 섹션 박스*/
    width: 100%; max-width: 1200px; margin: 100px auto;
    display: flex; flex-wrap: wrap; justify-content: space-between;
}

#container > div {    /*좌우박스 공통*/
    width: calc(50% - 10px);
    display: flex; flex-wrap: wrap; justify-content: space-between;
}

#box1 {   /*슬라이드 박스를 감싸는 영역*/
    width: 100%; height: 600px; margin-bottom: 20px;
    position: relative; overflow: hidden;
}
#slideBox {    /*슬라이드 박스*/
    width: 300%; display: flex; transition: .5s;
}
.slide {    /*각 슬라이드*/
    width: 33.3333%;  height: 600px;
    background: no-repeat center;
    background-size: cover;
}
.slide:nth-child(1) { background-image: url(../images/slide1.jpg);}
.slide:nth-child(2) { background-image: url(../images/slide2.jpg);}
.slide:nth-child(3) { background-image: url(../images/slide3.jpg);}

.slide > h2 {    /*슬라이드 안의 제목 문자*/
    position: absolute; top: 2rem; left: 2rem;
    color: #fff; font-size: 3rem;
    font-weight: 100; line-height: 3rem;
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    animation:fromBottom 1s .5s both;
    display: none;
}

/*첫 번째 슬라이드 안의 h2만 보이기*/
.slide:first-child > h2 { display: block;}  

.slide > h2 > .bold {
    font-weight: 700;
}
@keyframes fromBottom {
    from { transform: translateY(2rem); opacity: 0;}
    to { transform: translateY(0); opacity: 1;}
}

.slide > p {   /*슬라이드 안의 문장*/
    position: absolute; top: 10rem; left: 2rem;
    color: #fff; font-size: 1.2rem;
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    animation:fromBottom 1s .8s both;
    display: none;
}
.slide:first-child > p { display: block;}

#pagination {    /*하단 서클버튼*/
    position: absolute; bottom: 1rem; left: 0;
    width: 100%;
    display: flex; justify-content: center;
}
.circle {
    width: 40px; height: 5px;
    background: #fff;
    margin: 0 3px; cursor: pointer;
    transition: .3s;  opacity: 0.3;
}
.circle:first-child { opacity: 1; width: 60px;}

/*슬라이드 영역 끝-------------------*/



.boxs {    /*내용 박스 전체 공통*/
    position: relative; cursor: pointer;
}

.box1 {    /*슬라이드 아래 박스*/
    width: calc(50% - 10px); height: 180px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.innerBox {   /*내부 내용 박스*/
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; width: 95%;
}
.icon {    /*아이콘 폰트*/
    font-size: 4rem; margin-bottom: 0.5rem;
    color: #555; transition: .3s;
}
.innerBox > h3 { font-size: 1.5rem; font-weight: 500; transition: .3s;}
.innerBox > p { font-weight: 300; transition: .3s;}
.captionBox {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.6); opacity: 0;
    transition: .3s;
}
.boxs:hover .captionBox { opacity: 1; }
.boxs:hover .innerBox { color:#fff }
.boxs:hover .innerBox > .icon { color: #000;}


#rightBox > div {   /*오른쪽 박스 안의 좌우 박스*/
    width: calc(50% - 10px);
}

.box1_1 {    /*BRAND STORY*/
    width: 100%; height: 250px;
    background: url(../images/content1.jpg) no-repeat center;
    background-size: cover;
}
.box1_1 > .innerBox { top: 30%;}
.title1 { 
    font-weight: 100 !important; 
    font-size: 1.7rem !important; letter-spacing: -1px;
    margin-bottom: -.5rem;
}
.title2 { 
    font-weight: 700 !important; 
    font-size: 1.7rem !important;letter-spacing: -1px;
    margin-bottom: .3rem;
}

.box1_2 {    /*홍보 영상*/
    height: 200px; margin-top: 20px;
    background: url(../images/content2.jpg) no-repeat center;
    background-size: cover;
}

.box1_3 {   /*PRODUCT GALLERY*/
    width: 100%; height: 310px; margin-top: 20px;
    background: url(../images/content3.jpg) no-repeat center;
    background-size: cover;
}

.box2_1 {
    width: 100%; height: 310px;
    background: url(../images/content4.jpg) no-repeat center;
    background-size: cover;
}
.box2_1 > .innerBox { top: 30%;}

.box2_2 {
    width: 100%; height: 200px; margin-top: 20px;
    background: url(../images/content5.jpg) no-repeat center;
    background-size: cover;
}

.box2_3 {
    width: 100%; height: 250px; margin-top: 20px;
    background: url(../images/content6.jpg) no-repeat center;
    background-size: cover;
}
.box2_3 > .innerBox { top: 70%;}


#modal {     /*YouTube용 Modal 창*/
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,.7);
    display: none;
    justify-content: center; align-items: center;
    z-index: 99;  animation:modal .5s;
}
@keyframes modal {
    from { opacity: 0;}     to { opacity: 1;}
}

#modalBox {
    width: 100%; max-width: 1200px;
    background: #fff; padding: 10px;
    position: relative;  animation: modalBox .5s .2s both;
}
@keyframes modalBox {
    from { transform: translateY(-5rem); opacity: 0;}
    to { transform: translateY(0); opacity: 1;}
}

#video {   /*Youtube 영상*/
    width: 100%;
}
#modalClose {
    position: absolute; top: -40px; left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; padding: 0; width: 40px; height: 40px;
    background: none; border: none;
    color: #fff; cursor: pointer;
    display: flex; justify-content: center; align-items: center;
}
#modalClose:hover { 
    animation:close 1s linear;
}
@keyframes close {
    from { transform: translateX(-50%) rotate(0);}
    to { transform: translateX(-50%) rotate(360deg);}
}




@media screen and (max-width:800px) {
    #container > div { width: 100%;}
    #leftBox { margin-bottom: 60px;}
}