.head{
    ul{
        display: flex;
        li{
            border: 1px solid #000;
            background-color: #f00;
            &:nth-child(1){
                background-color: #fc0;
                margin-right: 50px;
            }
            &:nth-child(2){
                background-color: #fc0;
                margin-right: 597px;
                .search {
                    width: 300px;
                    padding-left: 30px;
                    position: relative;
                }
            }
        }
    }
}