.Main-sec01 {
    width: 100%;
    height: 50vh;
    .swiper {
        border: 1px solid #000;
        width: 100%;
        height: 300px;
      }
    
}
.Main-sec02 {
    width: 100%;
    h2 {
        margin-bottom: 30px;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
        li {
            width: calc((100% - 58px)/1);
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid #bbb;
            transition: all .7s ease;
            margin: 0 -1px 30px 0;
            position: relative;
            &:hover{
                transform: translateY(-3%);
            }
            a {
                display: block;
                width: 150px;
                margin: 0 auto;
                overflow: hidden;
                border-radius: 15px;
                &:nth-child(1){
                    width: 180px;
                    >img {
                        width: 100%;
                    }
                }
            }
        }
        .btn {
            background-color: #fff;
            display: block;
            width: 100%;
            height: 80px;
            line-height: 40px;
            border-radius: 10px;
            margin-top: 10px;
            text-align: left;
            position: relative;
            h3,p {
                text-align: center;
            }
        }
        .btn::after {
            content: none;
            position: absolute;
            left:0; top:0;
            width:100%; height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: #000;
            opacity: 0.5;
            border-radius: 10px;
            color:#eee;
        }
        li:hover .btn::after {
            content: attr(data-name);
        }
    }
}