.Navi{
    display: flex;
    .ctg{
        border: 1px solid #f00;
        width: 5%;
        font-size: 1.5rem;
    }
    border: 1px solid #000;
    ul{
        width: 45%;
        display: flex;
        align-items: center;
        li{
            width: 50%;
            border: 1px solid #000;
            a {
                display: block;
                padding: 10px;
                text-align: center;
            }
            &:nth-child(1){
                text-align-last: left;
            }
            &:nth-child(1){
                margin-left: 30px;
            }
        }
    }
}