.Navi{
    border: 1px solid #000;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 100%;
            border: 1px solid #000;
            background-color: #f00;
            a {
                display: block;
                padding: 20px;
                text-align: center;
            }
        }
    }
}