.Navi{
    display: flex;
    .ctg{
        border: 1px solid #f00;
        width: 5%;
        font-size: 1.5rem;
    }
    >ul{
        width: 40%;
        display: flex;
        justify-content: right;
        align-items: center;
        >li{
            width: 100%;
            >a {
                display: block;
                padding: 10px;
                text-align: center;
                position: relative;
                &::after { 
                    position: absolute;
                    content: '';
                    width: 0; height: 5px;
                    background-color: #54c7f7;
                    left: 0; bottom: 0;
                    transition: width 0.5s ease-in-out;
                }
                &:hover::after {
                    width: 70%; transition: .3s all ease-in-out;
                    transform: translateX(20%);
                }
            }
           
            &:nth-child(1){
                margin-left: 30px;
            }
        }
        
    }
}