.footer {
    width: 1200px;
    margin: 0 auto;
    
    ul {
        display: flex;
        li {
            margin-left: -2px;
            border: 1px solid #aaa;
            h3 {
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #bbb;
                color: #333;
            }
            i {
                margin-right: 10px;
                color: #333;
            }
            width: 100%;
            
            .footerLeftBox {
                width: 80%;
                margin: 0 auto;
                padding: 20px 0 20px 0;
                >p {
                    margin: 20px 0 20px 0;
                    color: #333;
                }
                >iframe {
                    width: 500px; height: 200px;
                    
                }
            }
            &:nth-child(2){
                padding: 20px;
                
                input, textarea{ 
                    
                    background: #eee; 
                    border: none; 
                    padding: 3px; margin: 1rem 0;
                }
                .input1{
                    width: 48%; 
                    background: #aaa;
                }
                .input1:first-child{
                    margin-right: 2%; 
                }
                .input2{
                    width: 99%; 
                    background: #aaa;
                }
                .input3{ 
                    background-color: transparent; 
                    font-size: 1.3rem; color: #333; 
                    padding: 5px 20px; cursor: pointer;
                    border: 1px solid #333;
                    border-radius: 25px;
                }
            }
        }
    }
}