.footer {
  width: 1200px;
  margin: 0 auto;
}
.footer ul {
  display: flex;
}
.footer ul li {
  margin-left: -2px;
  border: 1px solid #aaa;
  width: 100%;
}
.footer ul li h3 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  color: #333;
}
.footer ul li i {
  margin-right: 10px;
  color: #333;
}
.footer ul li .footerLeftBox {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
.footer ul li .footerLeftBox > p {
  margin: 20px 0 20px 0;
  color: #333;
}
.footer ul li .footerLeftBox > iframe {
  width: 500px;
  height: 200px;
}
.footer ul li:nth-child(2) {
  padding: 20px;
}
.footer ul li:nth-child(2) input, .footer ul li:nth-child(2) textarea {
  background: #eee;
  border: none;
  padding: 3px;
  margin: 1rem 0;
}
.footer ul li:nth-child(2) .input1 {
  width: 48%;
  background: #aaa;
}
.footer ul li:nth-child(2) .input1:first-child {
  margin-right: 2%;
}
.footer ul li:nth-child(2) .input2 {
  width: 99%;
  background: #aaa;
}
.footer ul li:nth-child(2) .input3 {
  background-color: transparent;
  font-size: 1.3rem;
  color: #333;
  padding: 5px 20px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 25px;
}