.HeadGnbBox {
    display: flex;
    justify-content: right;
    gap: 10px;
    
    
    
>li {
        width: 10%;
        text-align: center;
        color: #a3a3a3;
        &:hover {
            color: #333;
            font-weight: bold;
        }
        &:nth-child(1) {
            width: 7%;
        }
        &:nth-child(2) {
            width: 7%;
        }
        &:nth-child(3) {
            width: 7%;
        }
    }
}


.head {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.headBox {
    margin-right: auto;
    width: 60%;
    display: flex;
    align-items: end;
    gap: 10px;
    
    .LogoBox {
        width: 70px;
        
        .LogoImg {
            width: 100%;
        }
    }
    .fa-magnifying-glass {
        color: rgb(48, 78, 88);
        font-size: 1.5rem;
    }
    .daangsp {
        width: 100px;
        
        >p {
            font-size: 1.5rem;
            display: block;
        }
    }
    .inputBox {
        margin-left: 50px;
        width: 80%;
        
        
        >input {
            width: 100%;
            margin-left: 50px;
            padding: 10px 0 10px 20px;
            border-radius: 15px;
            border: 4px solid lightblue;
            
        }

    }
}


.CPCtt {
    padding: 10px;
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    color: #936676;
    border-radius: 25px;
    font-weight: bold;
}

.CPCtt::before {
    content: attr(data-hover);
    width: 100%;
    height: 100%;
    color: lightcoral;
    font-weight: bold;
    position: absolute;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;

    >span {
        display: inline-block;
        transition: all 0.4s ease-in-out;

        &:hover >span {
            transform: translateX(-100%);
        }
    }
}

.CPCtt:hover::before {
    transform: translateX(0);
}

.CPCttLove {
    width: 100px;
    padding: 5px;
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    color: #936676;
    border-radius: 25px;
    font-weight: bold;
    > span {
        margin-left: 15px;
        display: inline-block;
        transition: all 0.4s ease-in-out;
        .CPjjim:hover .CPjjim  {
            transform: translateX(-80%);
        }
    }
}
.CPCttLove:hover::before {
    transform: translateX(15px);
}
.headNv {

    .btn2 {
        display: none;
        border: none;

        .fa-bars {
            font-size: 3rem;
            text-align: center;
        }
    }

}
@media all and (max-width : 468px) {

.HeadGnbBox {
    width: 60%;
    margin-left: auto;
    >li {
        color: #a3a3a3;
        &:hover {
            color: #333;
            font-weight: bold;
        }
        &:nth-child(1) {
            width: 100%;
        }
        &:nth-child(2) {
            width: 100%;
        }
        &:nth-child(3) {
            width: 100%;
        }
    }
}

.head {
    flex-wrap: wrap;
    justify-content: left;
    .headBox {
        width: 100%;
        flex-wrap: wrap;

        .LogoBox {
            margin: 0 auto;
        }
        .daangsp {
            width: 400px;
            text-align: center;
            
            >p {
                font-size: 1.5rem;
                display: block;
            }
        }

       

        .inputBox {
            margin-top:0;
            width: 100%;
            margin-left: -50px;
        }
    }
    .CPCttLove:hover::before {
        transform: translateX(15px);
    }
}
}






// .head {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     border: 1px solid #000;
//     .headBox {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         border: 1px solid #00f;



//     .inputBox {
//         width: 100%;
//         .search {
//             width: 100%;
//             height: 50px;
//             padding: 25px;
//             border-radius: 15px;
//             border: 1px solid #d3d3d3;
//         }
//     }
// }
//     >ul {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         margin-left: auto;

//         >li {
//             width: calc((100% - 10px)/7); //<<<<<<<<<<<<<<<<<수정들어가야해
//             >p {
//                 margin: 0 1px 0 10px;
//                 transition: 0.7 all;
//                 &:hover {
//                     color: #00f;
//                 }
//             }
//         }
//     }
// }

// @media all and ( max-width : 468px) {
//     .headBox {
//         flex-wrap: wrap;
//         justify-content: left;
//         gap: 0;
//         .LogoBox {
//             margin: 0 auto;
//             border: 1px solid #000;
//         }
//         .inputBox {
//             margin-top: 20px;
//             width: 100%;
//             .search {
//                 width: 100%;
//             }
//         }
//     }
// }