.HeadGnbBox {
  display: flex;
  justify-content: right;
}
.HeadGnbBox > li {
  width: 10%;
  text-align: center;
  color: #a3a3a3;
}
.HeadGnbBox > li:hover {
  color: rgb(26, 26, 216);
  font-weight: bold;
}
.HeadGnbBox > li:nth-child(1) {
  width: 7%;
}
.HeadGnbBox > li:nth-child(2) {
  width: 7%;
}
.HeadGnbBox > li:nth-child(3) {
  width: 7%;
}

.head {
  margin-top: 10px;
  display: flex;
}

.headBox {
  display: flex;
  width: 40%;
  align-items: center;
  gap: 30px;
}
.headBox .LogoBox {
  width: 100px;
}
.headBox .LogoBox .LogoImg {
  width: 100%;
}
.headBox .inputBox {
  width: 70%;
}
.headBox .inputBox > input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
}

.headNv {
  border: 1px solid #000;
  width: 60%;
  display: flex;
}
.headNv > ul {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
}
.headNv > ul > li {
  width: 100%;
  margin-left: -1px;
}
.headNv > ul > li:last-child {
  margin-right: -1px;
}
.headNv > ul > li p {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: #392f2f;
  font-weight: bold;
}
.headNv > ul > li p:hover {
  color: rgb(26, 26, 216);
}

.btn2 {
  display: none;
}