.HeadGnbBox {
    display: flex;
    justify-content: right;
    gap: 10px;
    
    
    
>li {
        width: 10%;
        text-align: center;
        color: #a3a3a3;
        &:hover {
            color: #333;
            font-weight: bold;
        }
        &:nth-child(1) {
            width: 7%;
        }
        &:nth-child(2) {
            width: 7%;
        }
        &:nth-child(3) {
            width: 7%;
        }
    }
}


.head {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.headBox {
    margin-right: auto;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 30px;

    .LogoBox {
        width: 100px;

        .LogoImg {
            width: 100%;
        }
    }

    .inputBox {
        margin-left: 25px;
        width: 80%;

        >input {
            width: 100%;
            padding: 10px;
            border-radius: 15px;
            border: 4px solid lightblue;
        }
        .searchButton {
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
          }
          
          .searchIcon {
            width: 20px; /* 아이콘의 너비와 높이를 조정해야 할 수 있습니다 */
            height: 20px;
          }
    }
}


.CPCtt {
    padding: 10px;
    
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    color: #936676;
    border-radius: 25px;
    font-weight: bold;
}

.CPCtt::before {
    content: attr(data-hover);
    width: 100%;
    height: 100%;
    color: lightcoral;
    font-weight: bold;
    position: absolute;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;

    >span {
        display: inline-block;
        transition: all 0.4s ease-in-out;

        &:hover >span {
            transform: translateX(-100%);
        }
    }
}

.CPCtt:hover::before {
    transform: translateX(0);
}

.CPCttLove {
    width: 100px;
   padding: 10px;
    
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    color: #936676;
    border-radius: 25px;
    font-weight: bold;
    > span {
        margin-left: 10px;
        display: inline-block;
        transition: all 0.4s ease-in-out;
        .CPjjim:hover .CPjjim  {
            transform: translateX(-80%);
        }
    }
}
.CPCttLove:hover::before {
    transform: translateX(10px);
}




.headNv {

    .btn2 {
        display: none;
        border: none;

        .fa-bars {
            font-size: 3rem;
            text-align: center;
        }
    }

}

@media all and (max-width : 468px) {
    .headBox {
        flex-wrap: wrap;
        justify-content: left;
        gap: 0;

        .LogoBox {
            margin: 0 auto;
            border: 1px solid #000;
        }

        .inputBox {
            margin-top: 20px;
            width: 100%;
           
            .search {
                width: 100%;
            }
        }
    }
}






// .head {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     border: 1px solid #000;
//     .headBox {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         border: 1px solid #00f;



//     .inputBox {
//         width: 100%;
//         .search {
//             width: 100%;
//             height: 50px;
//             padding: 25px;
//             border-radius: 15px;
//             border: 1px solid #d3d3d3;
//         }
//     }
// }
//     >ul {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         margin-left: auto;

//         >li {
//             width: calc((100% - 10px)/7); //<<<<<<<<<<<<<<<<<수정들어가야해
//             >p {
//                 margin: 0 1px 0 10px;
//                 transition: 0.7 all;
//                 &:hover {
//                     color: #00f;
//                 }
//             }
//         }
//     }
// }

// @media all and ( max-width : 468px) {
//     .headBox {
//         flex-wrap: wrap;
//         justify-content: left;
//         gap: 0;
//         .LogoBox {
//             margin: 0 auto;
//             border: 1px solid #000;
//         }
//         .inputBox {
//             margin-top: 20px;
//             width: 100%;
//             .search {
//                 width: 100%;
//             }
//         }
//     }
// }