.head{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    .LogoBox {
        width: 200px;
        border: 1px solid #000;
        .LogoImg {
            width: 100%;
        }
    }
    .inputBox {
        width: 50%;
        margin-left: 50px;
        border: 1px solid #000;
        .search {
            width: 100%; height: 50px;
            padding: 25px;
            border-radius: 15px;
        }
    }
    ul {
        display: flex;
        align-items: center;
        margin-left: auto;
        li {
            width: calc((100% - 10px)/6);  //<<<<<<<<<<<<<<<<<수정들어가야해
            p {
                margin: 0 1px 0 10px;
                transition: 0.7 all; 
                &:hover {
                    color: #00f;
                }
            }
        }
    }
}

@media all and ( max-width : 468px) {
    .head {
        flex-wrap: wrap;
    .LogoBox {
        width: 100%;
    }
}

}
   
   

