.NaviCtgBox {
    display: flex;
    height: 40px;
    .ham {
        width: 150px;
        .realHam {
            background-color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 1.5rem;
            font-weight: bold;
            .fa-bars {
                line-height: 40px;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    .NaviCtgGnb {
        z-index: 4;
        width: 150px;
        top: -40px; 
        padding-top: 40px;
        position: relative;
        
        >li {
            display: none;
            >a {
                background-color: lightblue;
                display: block;
                height: 41px;
                line-height: 41px;
                text-align: center;
                color: #efefef;
            }
        }
        .subBox {
            width: 1200px; height: 450px;
            background-color: #fff;
            position: absolute;
            top: 40px; left: 100%;
            display: none;
            z-index: 2;
            >ul {
                display: flex;
                width: 100%; height: 328px;
                >li {
                    height: 450px;
                    border-right: 1px solid whitesmoke;
                    padding: 30px;
                    >h4 {
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #000;
                        color: #555;
                    }
                    >p {
                        margin-top: 10px;
                        >a{
                            font-size: 10px;
                            display: block;
                            font-size: 1.2rem;
                            margin: 10px 0 0 10px;
                            color: #555;
                            
                            &:hover {
                                color: lightseagreen;
                                // border-bottom: 1px solid #0abb26;
                                
                            }
                        }
                    }
                }
            }
        }
        >li:hover .subBox {
            display: block;
        }
    }
    .NaviCtgGnb:hover li {
        display: block;
    }
    .active {
        border: 1px solid #000;
        background-color: pink;

        .show {
            background-color: pink;
        }
    }
// ******************이벤트 이달의행사 넌 필요없어 끄지셈
    >ul {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        >li {
            width: 10%;
            
            .NaviCtt {
                width: 100%;
                padding: 10px;
                text-align: center;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 5px;
                    background-color: #164e9b;
                    left: 0;
                    bottom: 0;
                    transition: width 0.5s ease-in-out;
                }

                &:hover::after {
                    width: 70%;
                    transition: .3s all ease-in-out;
                    transform: translateX(20%);
                }
            }
            
        }
    }
} 
// .CPCtt {
//     text-align: center;
//     padding: 20px;
//     background-color: rgb(180, 206, 204);
//     border-radius: 5px;
//     font-size: 1.2rem;
//     font-weight: bold;
//     color: rgb(55, 62, 63);
//     position: relative;
//     &::after {
//        position: absolute;
//        content: '';
//        width: 0; height: 100%;
//        top: 0; left: 0;
//        background-image: linear-gradient(to right, pink, yellow); 
//        transition: width 0.5s ease-in-out;
//     }
//     &:hover::after {
//         width: 100%;
//         opacity: 0.8;
//     }
//     .fa-plus {
//         font-size: 1.7rem;
//         margin-left: 10px;
//     }
// }
// &:hover {
//                     background-image: linear-gradient(to right, black,#d5d5d5);
//                 }