
.sectionTitle{font-size: 5rem;}
/*********************************************************************************************************************HEAD  AREA****************************************************************************************************************/    
#left{position: fixed; width: 100%; height: 100vh; left: 0; top: 0; padding: .5rem; border: 1px solid red; background-color: #fff; opacity: .5; z-index: 9;}         

/*********************************************************************************************************************CENTER SECTION****************************************************************************************************************/   

/*헤더안의 동영상 - 풀스크린고정*//*가로/세로 최소 100%이상으로 맞추기*/
#center{width: 100%; height: 100vh; position: relative; overflow: hidden; }
#centerbox{ position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; line-height: 3rem; color: aliceblue; font-size: 2rem;}/*헤더 안의 메시지 박서 : 가운데 맞춤*/                                                                                                                                                                
#centerVideo{position: absolute; top: 0; left: 0; top: 40%; left: 50%; transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; z-index: -1;}


/****title****/
.title{display: inline-block}
#centerbox > .title3{animation: title 1.2s .2s ; }
#centerbox > .title2{animation: title 1.4s .4s ; }
#centerbox > .title1{animation: title 1.6s .6s ; }
.centercaption{font-size: 1.5rem; line-height: 1.7rem; margin: 1rem 0 ; color: white; animation: caption 1s 1.4s both ;}


@keyframes title{
    from{transform: translateX(-30%); opacity: 0;}
    to{transform: translateX(0%); opacity: 1;}
}
@keyframes caption{
    from{transform: translateY(30%); opacity: 0;}
    to{transform: translateY(0%); opacity: 1;}
}


/*********************************************************************************************************************SECTION  AREA****************************************************************************************************************/   
/*************************************************************01.SECTION_title**********/
#sec01{ width: 100%; max-width: 1200px; margin-left: 10%;}
#sec01 h2{ font-size: 3rem; color: #fff; }
#sec01 p{ font-size: 1.5rem; color: #fff;}


/*****************************02.SECTION_midea&img**********/
/**************Left midea***/
#sec02{ width: 100%; max-width: 1580px;}   
#outBox02{ display: flex; flex-wrap: wrap; width: 100%; margin-left: 50px;}               

#video02{ width: 100%; display: block;}

#inBox02{ width: 68%; }     


.captionBox02{position: relative;}
.caption02{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0,0,0,.5);

    display: none; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;

    backdrop-filter: blur(3px);/*유리막*/
    -webkit-backdrop-filter: blur(3px);/*구형브라우저를 위한것*/
    animation: fade .3s;
}                
.caption02 > h2, .caption02 > p{width: 100%; text-align: center; margin-bottom: 20px; color: #fff;}
    
.captionBox02:hover .caption02{display: flex; }

@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}

/**************Right img***/
#img02{margin-left: 10px; width: 31%; position: relative;}    
#img02 > img{ width: 100%; display: block; margin-bottom: 10px;    }
   





/***********************************************************************02.SECTION_ul**********/
#listBox02{width: 100%; max-width: 1580px; margin-left: 50px; display: flex; flex-wrap: wrap;}/*ul*/
.list02{ display: flex; height: 300px; position: relative; margin-bottom: 20px;} /*li*/
.list02 > img{width: 100%; display: block;}

.list02:first-child{background:url(../images/woman01.png)no-repeat center; background-size: cover;
    width: 28.4%;  margin-right: 20px; height: 800px;
}
    /*슬라이드2*/
.list02:nth-child(2){background:url(../images/woman02.jpg )no-repeat center; background-size: cover;
    width: 70%; height: 800px;
}
    /*슬라이드3*/
.list02:nth-child(3){background:url(../images/classic08.jpg )no-repeat center; background-size: cover;
    width: 60%; margin-right: 20px; height: 800px;
}
    
.list02:nth-child(4){background:url(../images/book.jpg)no-repeat center; background-size: cover;
    width: 38.4%; height: 800px;
}
    /*슬라이드5*/
.list02:nth-child(5){ background:url(../images/woman03.png )no-repeat center; background-size: cover;
    width: 49%;  margin-right: 20px; height: 800px;
}
   
.list02:nth-child(6){background:url(../images/woman05.png )no-repeat center; background-size: cover;
    width: 49%; height: 800px;
}

.list02:nth-child(7){ background:url(../images/man03.jpg )no-repeat center; background-size: cover;
    width: 28.4%; margin-right: 20px; height:800px;
}
   /*슬라이드8*/
.list02:nth-child(8){background:url(../images/mosaic.jpg )no-repeat center; background-size: cover;
    width: 70%; height: 800px;
}
    

    

.caption{ position: absolute; top: -16px; bottom: -16px; left: 0px; right: 0px; background: rgba(0,0,0,.5);
    /*내부내용 가운데 정렬*/
    display: none; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    backdrop-filter: blur(3px);/*유리막*/
    -webkit-backdrop-filter: blur(3px);/*구형브라우저를 위한것*/
    animation: fade .3s;
}
   
.caption > h2, .caption > p{width: 100%; text-align: center; margin-bottom: 20px;}
.list02:hover .caption{display: flex; }

@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}



/***********************************************************************03.SECTION_slide**********/
#sec03{width: 100%; max-width: 1580px; margin-bottom: 40px;}             

                                                                                                                                             

#menu03{width: 100%;  background-color: transparent;}
#listBox03{height: 100%; display: flex; flex-wrap: wrap;}
.leftBox03{width: 60%;}

#youtubeBox{width: 80%; height: 80%; margin: auto; margin-top: 40px; border-radius: 20px;
    box-shadow:
    2.8px 1.9px 2.2px rgba(0, 0, 0, 0.684),
    6.7px 4.6px 5.3px rgba(0, 0, 0, 0.655),
    12.5px 8.6px 10px rgba(0, 0, 0, 0.582),
    22.3px 15.4px 17.9px rgba(0, 0, 0, 0.544),
    41.8px 28.8px 33.4px rgba(0, 0, 0, 0.593),
    100px 69px 80px rgba(0, 0, 0, 0.8);
    }
.youtube{width: 100%;  height: 100%; border-radius: 20px;}

/*****Right******/
.rightBox03{width: 40%; }
.listInBox03 > h2{font-size: 2rem; text-align: left; margin: 20px 0 10px 20px; color: #999; }
.listInBox03 > p{font-size: 1.2rem; text-align: left; margin-left: 20px; color: #999; }
#rightInBox03{width: 80%; height: 80%; margin: auto; margin-top: 40px; }
#rightOutBox03{display: flex; flex-wrap: wrap; align-content: space-between; height: 100%; border-radius: 20px; background: #444; 
    box-shadow:
    2.8px 1.9px 2.2px rgba(0, 0, 0, 0.684),
    6.7px 4.6px 5.3px rgba(0, 0, 0, 0.655),
    12.5px 8.6px 10px rgba(0, 0, 0, 0.582),
    22.3px 15.4px 17.9px rgba(0, 0, 0, 0.544),
    41.8px 28.8px 33.4px rgba(0, 0, 0, 0.593),
    100px 69px 80px rgba(0, 0, 0, 0.8)
  ;}

.listInBox03{width: 100%;  }
.listInBox03 > img{width: 100%; display: block; border-radius: 20px;}


/***********************************************************************04.SECTION_info**********/
#sec04{width: 100%; max-width: 1580px; margin: auto; display: none;}
.sec04title1{ font-size: 3rem;  text-align: center;  cursor: pointer; background: none; padding: 10px; border : none; border-radius: 25px; margin-left: 40%; margin-bottom: 3rem; }
.sec04title1:hover{transform: scale(1.2); transition: .3s;}
.sec04title2{font-size: 1.5rem; text-align: center;  margin: none; margin-bottom: 3rem; color: #555;}

/*****************left******/
#listBox04{ width: 100%; justify-content: center; display: flex; flex-wrap: wrap; }
#left04{width: 39%; margin-right: 10px;}
#left04:last-child{margin-right:0;}
 
#left04 > h3{font-size: 3rem; text-align: left; margin-bottom: 20px; color: #555;}
#left04 > p{ font-size: 1.2rem; text-align: left; margin-bottom: 20px; color: #777;}
    
#map{ width: 100%; height: 190px;}
    


/****************right******/
#right04{ width: 60%; float: right;}
#right04 > h3{ font-size: 3rem; text-align: left; margin-bottom: 20px; color: #555;}
    
input, textarea{ background: #eee; border: none; padding: 3px; margin: 1rem 0;}
.input1{width: 48%; background: #444;}
.input1:first-child{margin-right: 2%; }
.input2{width: 99%; background: #444;}
.input3{ background-color: transparent; font-size: 1.3rem; color: #ccc; padding: 5px 20px; cursor: pointer;
}

@media screen and (max-width:578px) {
     /*******************section01********/
    #sec01{margin:auto}
    #sec01 h2{ font-size: 1.5rem; color: #fff; }
    #sec01 p{ font-size: 1.2rem; color: #fff;}


    /*******************section02********/
    #outBox02{margin: auto; margin-bottom: 60px;}
    #inBox02{width: 100%; }
    /*****right*****/
    #img02{display: none;}

    /*****list******/
    #listBox02{width: 100%; margin:auto}

    .list02:first-child{display: none;}        
    .list02:nth-child(4){display: none;}
    .list02:nth-child(6){display: none;}
    .list02:nth-child(7){display: none;}


    .list02:nth-child(2){width: 100%; height: 400px; }
    .list02:nth-child(3){width: 100%; height: 400px; }
    .list02:nth-child(5){width: 100%; height: 400px; }
    .list02:nth-child(8){width: 100%; height: 400px; }

    
    /*******************section03********/
.leftBox03{width: 100%;}
.youtube{width: 100%;}
.rightBox03{width: 100%;}


    /*******************section04********/
    .sec04title1{width: 100%; font-size: 2rem; text-align: center; padding: 0;  margin-left: 0; margin-bottom: 3rem; }
   
  

    #left04{width: 100%; margin-bottom: 50px;}
    #right04{width: 100%;}
    #left04 > h3{ width: 100%; font-size: 2rem; text-align: center; }
    #right04 > h3{ width: 100%; font-size: 2rem; text-align: center; }
  
}
  
    


