/*모든 페이지 공통 스타일(일반 설정, 내비,푸터 등)*/

/*웹폰트 CDN 연결*/
@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*FontAwesome CDN 연결*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

* {
  /*모든 요소 공통 사항*/
  box-sizing: border-box;
  /* font-family: "NanumSquare", sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

/* body { background: linear-gradient(45deg, orange, red); height: 100vh;} */

/*내비게이션 영역------------------------*/

#navBoxOut {
    width: 100%; position: fixed; top: 0; left: 0; height: 100px;
    background:rgba(255,255,255,.8);
    transition:.3s; z-index: 10;
}
#navBox {    /*로고&내비*/
    width: 100%; max-width: 1200px; margin: auto;
    display: flex; flex-wrap: wrap;
}
#logoBox {
    width: 20%; height: 100px;
    display: flex; align-items: center;
    font-size: 3rem;
}
#navi {     /*GNB, UNB 포함*/
    width: 80%;height: 100px;
    display: flex; align-items: center; justify-content: flex-end;
}
#menu {    /*GNB*/
    display: flex; flex-wrap: wrap; width: 80%;
}
.main {
    width: 20%; position: relative;
}
.main > a {
    display: block; text-align: center; line-height: 50px;
    color: #222; font-size: 1.3rem; text-transform: uppercase;
    transition: .3s;
}
.main:hover > a { color: #5F9DF7;}
.sub {
    position: absolute; top: 100%; left: 0;
    width: 100%; display: none;
    z-index: 10;
}
.subList > a {
    font-size: 1.1rem; text-align: center; display: block;
    padding: 5px 0;color: #222; transition: .3s;
}
.subList > a:hover {
    color: #5F9DF7;
}

#snb { display: flex;}    /*로그인,회원가입 메뉴 박스*/
.snbList > a { display: block; color: #777; padding: 0 5px;}

#subBox {    /*서브메뉴 배경용 박스*/
    position: absolute; top: 100%; left: 0;
    width: 100%; height: 100px; background:rgba(255,255,255,.8);
    display: none; z-index: 9;
}

#view {     /*모바일용 메뉴 펼침 버튼*/
    width: 50px; height: 50px;  background: none; border: none;
    font-size: 3rem; font-weight: bold; color: #333;
    cursor: pointer; margin-top: 10px; display: none;
}

/*모바일 화면에서 메뉴 뒤 배경*/
#naviBack {
    position: fixed; top: 0; left: 0; 
    width: 100%; height: 100%;
    background: rgba(255,255,255,.7);
    display: none;
}

/*푸터 영역-----------------------------*/
#foot {
    margin-top: 100px;
    width: 100%; padding: 2rem 0;
    background: #333; color: #fff;
    text-align: center; font-weight: 100;
    line-height: 2rem;
}
.f_icon {   /*SNS Icon*/
    font-size: 2rem; margin: 0 .3rem;
    cursor: pointer;
}




@media screen and (max-width:800px) {
    #view { display: block;}    /*메뉴버튼 보임*/
    #logoBox {     /*로고박스 - 가운데로 이동*/
        position: absolute; left: 50%;
        transform:translateX(-50%)
    }

    #navi {    /*내비게이션-좌측 세로 고정 & 숨김*/
        position: fixed; top: 100px; left: 0;
        width: 200px; height:100vh;
        background: #222;
        flex-wrap: wrap; align-content: flex-start;
        transform:translateX(-100%);
        transition:.3s;
    }
    /*펼침버튼 클릭할 때 적용할 스타일*/
    .active {  transform:translateX(0) !important; }

    /*각 메뉴의 모양 변경--------------*/
    #menu { width: 100%;}
    .main { width:100% }
    .main > a { 
        color: #eee; text-align: left; 
        padding: .4rem 0 .4rem 1rem;
        border-bottom: 1px solid #333;
    }
    .main:hover > a {
        background: #999; color: #fff;
    }
    
    .sub { position: static;}
    .subList > a {
        background: #555; color: #fff;
        padding: 0.5rem 0;
    }

    #snb {
        width: 100%;
        margin-top: 3rem; padding-left: 1rem;
        justify-content: flex-start;
    }

}