.Navi {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #000;
}
.Navi .ham {
  width: 150px;
}
.Navi .ham .realHam {
  background-color: #29a13b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.Navi .ham .realHam .fa-bars {
  line-height: 40px;
  font-size: 1.5rem;
  text-align: center;
}
.Navi .gnb {
  z-index: 4;
  width: 150px;
  top: -40px;
  padding-top: 40px;
  position: relative;
}
.Navi .gnb > li {
  display: none;
}
.Navi .gnb > li > a {
  background-color: #0abb26;
  display: block;
  height: 41px;
  line-height: 41px;
  text-align: center;
  color: #efefef;
}
.Navi .gnb .subBox {
  width: 800px;
  height: 328px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 100%;
  display: none;
}
.Navi .gnb .subBox > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 328px;
}
.Navi .gnb .subBox > ul > li {
  width: 100%;
  padding: 30px;
  border-right: 1px solid #000;
}
.Navi .gnb .subBox > ul > li > h4 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  color: #555;
}
.Navi .gnb .subBox > ul > li > p {
  margin-top: 10px;
}
.Navi .gnb .subBox > ul > li > p > a {
  display: block;
  font-size: 1.2rem;
  margin: 10px 0 0 10px;
  color: #555;
}
.Navi .gnb .subBox > ul > li > p > a:hover {
  color: #0abb26;
  border-bottom: 1px solid #0abb26;
}
.Navi .gnb > li:hover .subBox {
  display: block;
}
.Navi .gnb:hover li {
  display: block;
}
.Navi .active {
  border: 1px solid #000;
  background-color: pink;
}
.Navi .active .show {
  background-color: pink;
}
.Navi > ul {
  width: 40%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.Navi > ul > li {
  width: 100%;
}
.Navi > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
  position: relative;
}
.Navi > ul > li > a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 5px;
  background-color: #54c7f7;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}
.Navi > ul > li > a:hover::after {
  width: 70%;
  transition: 0.3s all ease-in-out;
  transform: translateX(20%);
}