/***************************ShareArea*************************************/
.df {
  display: flex;
}
.df .PostFormLabel1 {
  margin-top: 10px;
  width: 10.5rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}
.df .PostFormLabel1 > h5 {
  font-weight: bold;
  text-align-last: left;
}
.df .PostFormLabel2 {
  width: 100%;
  margin-top: 10px;
}

/*************************PostformBox***************************************/
.PostFormBox {
  width: 100%;
  margin: 30px auto 30px auto;
}
.PostFormBox > form > h1 {
  margin-bottom: 30px;
}

.PFTextArea {
  width: 100%;
  height: 20vh;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: scroll;
}

.PFPrice {
  width: 180px;
}

.PFCheck {
  display: flex;
}
.PFCheck > li #PFCheckbuy2 {
  margin-left: 20px;
}

.PFL2Box > ul {
  width: 100%;
}
.PFL2Box > ul > li .PFImgBox {
  width: 30%;
}
.PFL2Box > ul > li .PFImgBox > img {
  width: 100%;
}
.PFL2Box > ul > li:last-child {
  width: 70%;
  padding: 30px;
}
.PFL2Box > ul > li:last-child p {
  color: rgb(230, 21, 21);
  line-height: 25px;
}

.PFCBox {
  display: flex;
}
.PFCBox > li {
  width: 20%;
}
.PFCBox > li > select {
  width: 100%;
}

.PFMapBox {
  gap: 20px;
}
.PFMapBox > li:nth-child(1) .PFMap > input {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  padding: 20px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  gap: 20px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li > p {
  text-align: center;
  line-height: 50px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li > p:hover {
  cursor: pointer;
}
.PFMapBox > li:nth-child(2) {
  width: 100%;
}
.PFMapBox > li:nth-child(2) > iframe {
  width: 500px;
  height: 300px;
  margin-left: auto;
}

.PFBtnBoxx {
  width: 100%;
  margin: 50px;
  display: flex;
  justify-content: center;
}
.PFBtnBoxx .PFButton {
  border: 1px solid gray;
  width: 250px;
  background-color: lightblue;
  height: 40px;
}
.PFBtnBoxx .PFButton > p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

@media all and (max-width: 468px) {
  .df {
    flex-wrap: wrap;
  }
  .df .PostFormLabel1 {
    margin-top: 30px;
  }
  .df .PostFormLabel2 {
    margin-top: 0;
  }
  .PFL2Box > ul {
    width: 100%;
  }
  .PFL2Box > ul > li .PFImgBox {
    width: 30%;
  }
  .PFL2Box > ul > li .PFImgBox > img {
    width: 100%;
  }
  .PFL2Box > ul > li:last-child {
    width: 100%;
    padding: 30px;
  }
  .PFIfram {
    width: 100px;
    height: 300px;
    margin-left: auto;
  }
  .realMap {
    flex-wrap: wrap;
    width: 100%;
  }
  .realMap > li #myMap {
    width: 100%;
  }
}