.sign-up-container { //opciti부분임
  left: 0;
  width: 50%;
  opacity: 1; //이부분 0으로 맞춰야함
  z-index: 1;
  position: relative;
  
}
.SignUpForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    >h1 {
        
        text-align: center;
    }
  }

  

.row1{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 20px;
    }
}
.idOverlap{
    border-radius: 15px;
    margin-top: 10px;
    background-color:#ccc;
    border: none;
    color: #777;
   font-weight: bold;/
//text-shadow: hoff voff blur #000;  
    &:hover {
        background-color: #aaa;
        color: #333;
    }
    
}
.LoginRow2{
    
    
    width: 100%; 
    flex-direction: column;
    span {
        text-align: center;
    }
}








