.sign-up-container { //opciti부분임
  left: 0;
  width: 50%;
  opacity: 1; //이부분 0으로 맞춰야함
  z-index: 1;
}
.SignUpForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
  }

  

.row1{
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 20px;
    }
}
.idOverlap{
    border-radius: 15px;
    margin-top: 10px;
}
.LoginRow2{
    width: 100%; 
    flex-direction: column;
    span {
        text-align: center;
    }
}









// .main-box{
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     .row1{
//         width: 100%;
//         margin: 0 auto;
//         border: 1px solid #f00;
//     }
//     .lovv {
//         display: flex;
//         flex-direction: column;
//     }
//     p {
//         font-weight: bold;
//         color: #555;
//         margin-top: 10px;
//     }
// }