/*웹폰트 CDN 연결*/
@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css);

* {     /*모든 요소 공통 사항*/
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
}

ul {    /*모든 리스트 공통*/
    list-style:none;   padding:0;
}

a {   /*모든 링크 공통*/
    text-decoration: none;
}

section {   /*모든 섹션 공통*/
    width:1200px;  margin: 50px auto;
    text-align: center;

    overflow: auto;
    clear: both;
}

.title1 {    /*각 섹션의 타이틀 문자 공통*/
    font-size:2rem;  margin: 1rem 0;
}

.title2 {    /*각 섹션의 타이틀 문장 공동*/
    line-height:1.5rem; margin-bottom: 1rem;
}



/*상단 내비게이션 영역-----------------------*/
#navOutBox {    /*전체 박스*/
    /*화면 상단 좌측에 고정*/
    position:fixed;  top:0;  left:0;

    width:100%;  height:60px;
    background: rgba(45,136,218,.8);
    transition:.3s;
    z-index: 9;
}
#navOutBox:hover {
    background: rgba(45,136,218,1);
}

#navBox {    /*안쪽 1200px 박스*/
    width: 1200px; margin: 0 auto;
}

#logoBox {
    width:20%;  float:left;
    line-height:60px; color:#fff; font-size:1.3rem
}

#navi {
    float: right;
}

.main {   /*각 메뉴 리스트 li*/
    float:left;  position:relative;
}

.main > a {
    line-height:60px;  padding:0 1.5rem;
    font-size:1.1rem;   text-transform: uppercase;
    color:#fff;
    display:block;
    transition:.3s;
}
.main > a:hover {
    background:#0d2841;
}

.sub {    /*서브메뉴 박스 ul*/
    position:absolute;  top:100%; left:0;
    width:100%; padding:0 5px;
    background:#eee;
    border:1px solid #ccc;
    box-shadow:3px 3px 3px rgba(0,0,0,.2);
    display:none;   /*숨김*/
}
.main:hover .sub {   /*메인메뉴에 닿으면 서브메뉴 보이기*/
    display:block;
}
.subMenu > a {   /**/
    display:block;
    line-height:30px; text-align:center;
    text-transform:uppercase;
    color:#555; border-bottom:1px solid #ccc;
    transition:.3s
}
.subMenu > a:hover {
    background: #fff;
}


/*헤더 영역----------------------------*/
#header {
    width:100%; height:100vh;

    background: url(../images/main01.jpg) no-repeat center;
    background-size: cover;

    position: relative;
}

#headerBox {
    position: absolute; top: 50%; left: 50%;
    transform:translate(-50%,-50%);

    width: 100%;
    text-align: center; color: #fff;
}
#headerBox > h1 {    /*헤더 타이틀 문자*/
    font-weight: lighter; font-size: 3rem;
    margin-bottom: 2rem;

    animation: fromBottom 1s;
    /*'fromLeft' Keyframe을 1초 동안 실행*/
}

#headerBox > p {    /*헤더 텍스트*/
    line-height: 1.7rem; margin-bottom: 2rem;

    animation: fromBottom 1s .4s backwards;
    /*Keyframe을 from 상태로 0.4초 대기 후 1초 동안 실행*/
}

#headerBox > a {    /*헤더 링크*/
    border:2px solid #fff;
    border-radius: 2rem;
    padding: 5px 10px; color: #fff;
    text-transform: uppercase;
    opacity: 0.6; transition: .3s;

    animation:blink 1s 1.4s  infinite linear backwards
    /*'blink' Keyframe을 from 상대로(backwards) 1.4초 대기(delay) 후 1초 간격으로 동일한 속도(linear)로 계속 반복(infinite)*/
}
#headerBox > a:hover { opacity: 1; animation-play-state: paused;}


/*헤더 제목용 애니메이션 동작 선언*/
@keyframes fromBottom {   
    from {    /*시작 동작 상태*/
        transform:translateY(20%);  opacity:0;
        /*아래쪽으로 20% 만큼 이동한 상태에 시작*/
    }
    to {    /*마지막 동작 상태*/
        transform:translateY(0);   opacity: 1;
        /*원위치로 이동해서 끝남*/
    }
}

/*헤더 버튼용 애니메이션*/
@keyframes blink {
    from { opacity: 0; }    /*투명*/
    50% { opacity: .6; }    /*불투명*/
    to { opacity: 0; }          /*투명 */
}



/* 섹션1 영역-------------------------------- */
#listBox1 > li {   /*좌우 리스트 공통*/
    width: 50%; float:left;
}

#listBox1 img {    /*리스트 안의 모든 이미지*/
    width: 100%; display: block;    /*여백 없이 채우기*/
}

.list1 {    /*오른쪽 영역 리스트*/
    width: 50%; float:left;
    position: relative;
}
.caption1 {   /*캡션 박스*/
    position: absolute; top: 10%; left: 0; 
    width: 100%; padding: 1rem;  line-height: 1.5rem;
}
.caption1 > h3 { margin-bottom: 1.5rem;}




/* 섹션2 영역----------------------- */

.list2 {    /*3등분 리스트 li*/
    width: calc((100% - 60px) / 3);
    margin-right: 30px; float:left;
    border: 1px solid #aaa;
}
.list2:last-child { margin-right: 0;}

.imgBox2 {   /*이미지 박스*/
    overflow: hidden;
}
.imgBox2 > img {    /*이미지*/
    display: block; width: 100%; transition: .3s;
}
/*이미지박스에 닿으면 이미지 키우기*/
.imgBox2:hover img { transform: scale(1.05) }

.caption2 {    /*캡션*/
    padding: 1rem;
}
.caption2 > h3 { font-size: 1.8rem; margin-bottom: 1rem }
.caption2 > p { font-size: 0.8rem; line-height: 1.3rem; letter-spacing:-1px; margin-bottom: 1rem }
.caption2 > a {
    border: 1px solid #ccc;
    padding: 5px; color: #333; text-transform: uppercase;
    transition:.3s;
    position: relative;
}
.caption2 > a:hover { background: #eee}
.caption2 > a::after {
    content:'+';
    position: absolute; top: 0; left: 100%;
    width: 2rem; height: 100%; background: rgba(45,136,218,1);
    color: #fff; font-size: 1.2rem;
    border: 1px solid rgba(45,136,218,1);
    display: flex; align-items: center; justify-content: center;

}


/* 섹션3 영역---------------------- */
#sec3 {
    width: 100%;
    background-color: #eee;
}
#youtube {
    /*유튜브 영상 세로 크기 조절 : 가로 대비 세로 비율 만큼 조절하기*/
    width:1200px;  height:calc(1200px * (540 / 960));
}


/* 섹션4 영역---------------------- */
#map {
    width: 100%;  height: 400px;
}