.Cart {
  margin-top: 30px;
  
  .bucketNav {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    >p {
      margin-bottom: 20px;
    }
  }
  
  .bucketBox {
    width: 100%;
    
    li {
      &:nth-child(1){
        width: 100%;
        >form {
        table {
          width: 100%;
          border-bottom: 1px solid #d3d3d3;
          border-collapse: collapse;
          border-spacing: 0;

          tr {
            border-bottom: 1px solid #d3d3d3;
          }

          th {
            &:first-child {
              width: 60px;
            }
            padding: 12px 0;
            border-top: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            background: #fff;
            color: #383838;
            font-size: 0.95em;
            text-align: center;
            letter-spacing: -0.1em;
          }

          .empty {
            display: node;
          }

          td {
            text-align: center;

            &:nth-child(4) {
              color: #ff006c;
              font-weight: bold;
            }
          }


          td>article {
            padding: 6px;
            overflow: hidden;

            > {
              a {
                float: left;
                display: inline-block;

                >img {
                  width: 80px;
                }
              }

              div {
                float: left;

                margin-left: 10px;

                > {
                  h2 {
                    text-align: left;
                  }

                  p {
                    text-align: left;
                    color: #777;
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }

        input[name=del] {
          border-color: #bdbdbd;
          border-bottom-color: #828282;
          background: #fafafa;
          color: #4d4d4d;
          padding: 6px 11px;
          border-width: 1px;
          margin-top: 6px;
          
        }
      }
    }

      &:nth-child(2) {
        
        .total {

          float: right;
          width: 360px;
          padding: 20px;
          
          background: #fff;
          border: 1px solid #d3d3d3;
          box-sizing: border-box;

          
            h2 {
              width: 100%;
              font-weight: bold;
              font-size: 16px;
              border-bottom: 1px solid #111;
              margin-bottom: 10px;
              padding-bottom: 10px;
              box-sizing: border-box;
              color: #1e1e1e;
            }

            table {
              width: 100%;

              tr:nth-last-child(1) td {
                font-size: 20px;

                &:last-child {
                  color: #ff006c;
                  font-size: 20px;
                  font-weight: bold;
                }
              }

              td {
                padding: 10px 0;
                font-size: 14px;
                color: #555;

                &:last-child {
                  text-align: right;
                }
              }
            }

            input[type=submit] {
              width: 100%;
              height: 56px;
              font-size: 26px;
              border-width: 1px;
              border-color: #d81818;
              border-bottom-color: #9e1212;
              background: #ed2f2f;
              background-image: -webkit-linear-gradient(#ed2f2f, #dd0e0e);
              color: #fff;
              box-sizing: border-box;
              margin-top: 10px;
            }
          
        }
      }
    }
  }
}