    .view {
      margin-top: 30px;

      article {
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      .info> {
        div {
          float: left;
          width: 50%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
        }

        .image>img {
          width: 100%;
        }

        .summary {
          >nav {
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 10px;
            margin-bottom: 12px;
            overflow: hidden;

            > {
              h1 {
                float: left;
                color: #0231a6;
                font-weight: bold;
                font-size: 1.5em;
              }

              h2 {
                float: right;
                color: #777;
                margin-top: 8px;
              }

              h3 {
                font-size: 18px;
                font-weight: bold;
                color: #1e2732;
              }

              p {
                font-size: 14px;
                color: #474747;
                line-height: 36px;
                letter-spacing: -1px;
              }
            }

            &:nth-child(2)>.rating>a {
              color: #346aff;
              text-decoration: underline;
            }
          }


        }

        span {
          color: #eb000a;
          font-size: 16px;
          margin-left: 6px;

          &::after {
            content: "↓";
          }
        }
      }

      .dis_price>ins {
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;

        &::after {
          content: "";
        }
      }

      .delivery {
        font-size: 16px;
        color: #2e8de5;
      }

      .origin {
        font-size: 16px;
      }

      .arrival {
        font-size: 14px;
        margin-left: 10px;
      }

      .desc {
        display: block;
        color: #aaa;
      }

      .card>i {
        display: inline-block;
        width: 30px;
        height: 18px;
        top: 4px;
        font-size: 0;
        vertical-align: text-top;
        margin-right: 2px;
      }

      .cardfree>i {
        background-position: -126px 0;
      }

      .cardadd>i {
        background-position: -51px -21px;
      }

      .banner {
        width: 100%;
      }

      .count {
        position: relative;
        width: 100px;
        height: 40px;

        > {
          button {
            position: absolute;
            width: 21px;
            height: 21px;
            background-image: url(../../Images/bing01.png);
            font-size: 0;
            background-color: transparent;
            border: none;
          }

          input[name=num] {
            position: absolute;
            left: 30px;
            top: 0;
            width: 30px;
            height: 21px;
            border: 1px solid #ececec;
            font-size: 14px;
            text-align: center;
          }

          .decrease {
            left: 0;
            top: 0;
            background-position: 0px -74px;
          }

          .increase {
            left: 70px;
            top: 0;
            background-position: -48px -74px;
          }
        }
      }

      .total {
        overflow: hidden;
        margin-top: 16px;

        > {
          span {
            float: right;
            display: inline-block;
            line-height: 38px;
            font-size: 24px;
            font-weight: bold;
            color: #000;
            text-align: right;
            letter-spacing: -0.5px;

            &::after {
              content: "";
            }
          }

          em {
            float: right;
            display: block;
            width: 100px;
            height: 22px;
            padding: 10px 0 0;
            font-size: 16px;
            line-height: 22px;
            color: #5e636d;
            letter-spacing: -1px;
          }
        }
      }

      .DTButtonBox {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 16px;
        >li {
          width: 100%;
          text-align: center;
          border: none;
          >button {
            width: 100%;
            border: none;
            &:hover {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }          
          .cart {
            border: 1px solid #000;
            height: 50px;
            line-height: 50px;
            border-radius: 15px;
            width: 100%;
            background-color: #fff;
            color: black;
          }
          .order {
            height: 50px;
            line-height: 50px;
            width: 100%;
            border-radius: 15px;
            background-color: #2e8de5;
            color: #fff;
          }
          .DtChat {
            height: 50px;
            line-height: 50px;
            width: 100%;
            border-radius: 15px;
            color: #fff;
            background-color: #0266c4;
          }
        }
      }
    }
    
    // > {
    //   input {
    //     float: left;
    //     width: 49%;
    //     height: 50px;
    //     margin: 2px;
    //     font-size: 20px;
    //     font-weight: bold;
    //     border-radius: 2px;
    //     cursor: pointer;
    //   }







    .review>.paging>.num>a.on {
      color: #fe434c;
      font-weight: bold;
    }

    article>nav {
      border-bottom: 1px solid #a4a9b0;
      padding: 6px 0;
      margin-bottom: 12px;
      overflow: hidden;

      > {
        p {
          float: left;
          color: #777;
          margin-top: 6px;
          margin-left: 6px;
        }

        h1 {
          float: left;
          color: #1e2732;
          font-weight: bold;
          font-size: 1.5em;
        }
      }
    }

    .notice>table {
      width: 100%;

      &:nth-of-type(2) {
        border-top: 1px solid #ececec;
      }

      tr>td {
        padding: 5px 0 6px 21px;
        font-size: 14px;
        color: #777;

        &:nth-child(1) {
          width: 20%;
          color: #222;
        }
      }
    }

    .review>ul {
      padding: 10px;
      box-sizing: border-box;

      >li {
        padding-top: 16px;
        border-bottom: 1px solid #ececec;
        box-sizing: border-box;

        >div {
          overflow: hidden;

          > {
            span {
              float: right;
              color: #555;
            }

            h5 {
              float: left;
            }
          }
        }
      }
    }




    .view> {
      .review> {
        ul>li> {
          h3 {
            color: #555;
            margin-top: 6px;
          }

          p {
            width: 100%;
            height: 60px;
            color: #555;
            font-size: 14px;
            line-height: 19px;
            word-break: break-all;
            word-wrap: break-word;
            margin-top: 10px;
          }
        }

        .paging {
          width: 100%;
          padding: 30px 0;
          text-align: center;
        }
      }

      .notice>.notice {
        margin: 20px 0;
        padding: 21px 26px 20px 19px;
        line-height: 20px;
        font-size: 14px;
        color: #757c8a;
        background: #fafafa;
        border-radius: 2px;
        white-space: normal;
      }

      .review>.paging> {
        span>a {
          color: #777;
          font-size: 11px;
          letter-spacing: -1px;
        }

        .num>a {
          display: inline-block;
          min-width: 14px;
          margin: 0 2px;
          padding: 8px 9px;
          border: 1px solid #c4c4c4;
          color: #000;
          font-size: 12px;
          text-align: center;
          text-decoration: none;

          &.on {
            color: #fe434c;
            font-weight: bold;
          }
        }
      }
    }