.head{
    position: sticky;
    top:0px;
}

.headBox{
    position: sticky;
    top:0px;
}

.LogoBox{
    position: sticky;
    top:0px;
}

.inputBox{
    position: sticky;
    top:0px;
}

.headUl{
    position: sticky;
    top:0px;
}





.Main-sec01 {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    h2 {
        margin: 30px 0 30px 0;
    }
    .SlideBox{
        // width: calc((100% - 30px)/3);
        width: 100%;
        .SlideImg {
            width: 100%;
        }
    }
}
.Main-sec02 {
    width: 100%;
    h2 {
        margin-bottom: 30px;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        li {
            width: calc((100% - 58px)/1);
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid #bbb;
            transition: all .7s ease;
            margin: 0 -1px 30px 30px;
            position: relative;
            &:hover{
                transform: translateY(-3%);
            }
            a {
                display: block;
                width: 150px;
                margin: 0 auto;
                overflow: hidden;
                border-radius: 15px;
                &:nth-child(1){
                    width: 180px;
                    >img {
                        width: 100%;
                    }
                }
            }
        }
        .btn {
            background-color: #fff;
            display: block;
            width: 100%;
            height: 80px;
            line-height: 40px;
            border-radius: 10px;
            margin-top: 10px;
            text-align: left;
            position: relative;
            h3,p {
                text-align: center;
            }
        }
        .btn::after {
            content: none;
            position: absolute;
            left:0; top:0;
            width:100%; height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: #000;
            opacity: 0.5;
            border-radius: 10px;
            color:#eee;
        }
        li:hover .btn::after {
            content: attr(data-name);
        }
    }
}