/***********************상위컴포넌트****************************/
.Main-sec01 {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    h2 {
        margin: 30px 0 30px 0;
    }
    .SlideBox{
        // width: calc((100% - 30px)/3);
        width: 100%;
        .SlideImg {
            width: 100%;
        }
    }
}
.mySwiper {
  width: 100%;height: 300px;
 
    

    
    
    // 박충희 타이핑 절대 네버 지우지마 비장의 한수야
    // .SlideBox1{
    //   width: 100%; height: 100%;
    //   background-image: url("https://ifh.cc/g/NAZPRg.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
      
    // }
    // .SlideBox2{
    //   width: 100%; height: 100%;
    //   background-image: url("https://ifh.cc/g/1RLdJ8.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    // }
    // .SlideBox3{
    //   width: 100%; height: 100%;
    //   background-image: url("https://ifh.cc/g/TyvrN1.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    // }
    // .SlideBox4{
    //   width: 100%; height: 100%;
    //   background-image: url("https://ifh.cc/g/ph7sKt.jpg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    // }
    // .fkfk {
    //   padding: 100%;
    //   background-color: #000;
    //   opacity: .2;
    // }
  }


.GridCtn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px 30px 0 30px;
    gap: 20px;
  }
  
  /***********************상위컴포넌트****************************/
  
  
  /***********************하위컴포넌트****************************/
  .GridMainItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    table {
        width: 100%;
    
    tbody {
      &:hover {
        transform: translateY(-3%);
        transition: .3s;
    }
      
      &:hover .GridMainBtn::after {
        content: attr(data-name);
      }
      
      .GridMainImgBox {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        background-size: cover;
      }
      
      .GridMainBtn {
        
        width: 100%;
        height: 80px;
        line-height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
        
        h3,
        p {
          text-align: center;
        }
      }
      
      .GridMainBtn::after {
        content: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 300px;
        line-height: 300px;
        text-align: center;
        background-color: #000;
        opacity: 0.5;
        border-radius: 10px;
        color: #eee;
      }
    }
  }
}
    
  /***********************하위컴포넌트****************************/


