.ModiMainBox {
  width: 350px;
  margin: 30px auto;
}
.ModiMainBox > h3 {
  color: #555;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.ModiMainBox .ModificationImgBox {
  border: 1px solid #d3d3d3;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.ModiMainBox .ModificationImgBox .ModificationImg {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row2 {
  margin-top: 20px;
}

.checkBox {
  margin-top: 10px;
  border: 1px solid #000;
}

.MoBtn {
  width: 25%;
  margin: 10px auto 10px;
  background-color: skyblue;
  border: none;
}