.blue {
}

.myPage {
    height: 100vh;
    margin-top: 30px;
    .wrap {
        background-color: #F8F8F8;
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    top: -5px;
    left: 110%;
}



.blueContainer {
    height: 100px;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    .fa-circle-user {
        font-size: 5rem;
        color: wheat;
    }
    .myPageIden{
        margin-left: 20px;
        > li {
            font-weight: bold;
            font-size: 20px;
            color: #000;
            margin-top: 3px;
            &:first-child{
                color: #fc0;
            }
            &:last-child {
                button {
                    background-color: #0D6EFD;
                    border-radius: 5px;
                    padding: 5px;
                    font-weight: bold;
                    border: none;
                    &:hover {
                        background-color: #0B5ED7;
                        color: whitesmoke;
                    }
                }
            }
        }
    }
   

 

    .modify {
        margin-left: auto;
    }
}

/* 단골상점 , 상품후기 , 적립금 박스 */

.summaryContainer {
    background-color: white;
    display: flex;
    padding: 21px 16px;
    height: 90px;
    margin-bottom: 10px;

    .item {
        flex-grow: 1;
    }

    .number {
        font-size: 19px;
        font-weight: bold;
        color: #3b72de;
    }

    .item>div:nth-child(2) {
        font-size: 13px;
    }
}

/* 단골상점 , 상품후기 , 적립금 */

/* 녹색 숫자 */

/* 텍스트 */

/* ================== 주문/배송조회 박스 시작 ==================== */

.shippingStatusContainer {
    padding: 21px 16px;
    background-color: white;
    margin-bottom: 10px;

    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .status {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    .item {
        display: flex;
    }

    .number {
        font-size: 31px;
        font-weight: 500;
        text-align: center;
    }

    .text {
        font-size: 12px;
        font-weight: normal;
        color: #c2c2c2;
        text-align: center;
    }

    .icon {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 16px;
        height: 16px;
    }
}

/* 주문/배송조회 타이틀 */

/* 장바구니 결제완료 배송중 구매확정 [로우] */

/* 장바구니 결제완료 배송중 구매확정 [아이템]  */

/*=================== 주문목록 ~ 찜한상품 리스트 ==================*/
.listContainer1 {
    display: flex;
    justify-content: space-between;
    >li {
        width: 100%;
    }
}
.listContainer {
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 10px;

    .item {
        display: flex;
        align-items: center;
        padding: 16px;
        color: black;
        text-decoration: none;
        height: 56px;
        box-sizing: border-box;
    }

    .icon {
        margin-right: 14px;
    }

    .text {
        font-size: 16px;
        position: relative;
        &:hover {
            font-size: 1.2rem;
        }
    }

    .right {
        margin-left: auto;
    }


    .right .blct {
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
}


/*=================== 내지갑의 보유 적립금 들어가는 부분 ================*/

/* 공지사항 이용안내 고객센터 */

.infoContainer {
    background-color: white;
    display: flex;
    height: 100px;
    margin-bottom: 10px;

    .item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 13px;
        text-decoration: none;
        color: black;

        >div:first-child {
            margin-bottom: 2px;
        }
    }
}

/*  */

.listContainer .item:hover,
.infoContainer .item:hover {
    /*   background-color: #f8f8f8; */
}


}
}