@charset "UTF-8";
/***************************ShareArea*************************************/
.df {
  display: flex;
}
.df .PostFormLabel1 {
  width: 10.5rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}
.df .PostFormLabel1 > h5 {
  font-weight: bold;
  text-align-last: left;
}
.df .PostFormLabel2 {
  width: 100%;
  margin: 15px;
}

/*************************PostformBox***************************************/
.PostFormBox {
  width: 100%;
  margin: 30px auto 30px auto;
}
.PostFormBox > form > h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.PFTextArea {
  width: 100%;
  height: 20vh;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: scroll;
}

.PFPrice {
  width: 180px;
}

.PFCheck {
  display: flex;
}
.PFCheck > li #PFCheckbuy2 {
  margin-left: 20px;
}

.PFL2Box > ul {
  width: 100%;
}
.PFL2Box > ul > li {
  border: 1px solid #000;
}
.PFL2Box > ul > li:first-child {
  width: 30%;
  background-color: #fc0;
  position: relative;
}
.PFL2Box > ul > li:first-child > input {
  width: 29%;
  margin: 100px 100px 100px 100px;
}
.PFL2Box > ul > li:first-child > input::after {
  position: absolute;
  content: "하 이 이미지는 추가하면 화면에 보이게는 또 어떻게하지 DB가 하겠지? 흐흐흐흐";
  width: 90%;
  height: 90%;
  background-color: #0f0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.PFL2Box > ul > li:last-child {
  width: 70%;
  padding: 30px;
}
.PFL2Box > ul > li:last-child p {
  color: rgb(230, 21, 21);
  line-height: 25px;
}

.PFCtegory {
  height: 30vh;
}

.PFMapBox {
  display: flex;
  gap: 20px;
}
.PFMapBox > li {
  width: 100%;
}
.PFMapBox > li:nth-child(1) .PFMap > input {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  padding: 20px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  gap: 20px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li {
  border: 1px solid #000;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li > p {
  text-align: center;
  line-height: 50px;
}
.PFMapBox > li:nth-child(1) .PFMap .PFMapCtt > li > p:hover {
  background-color: #fc0;
  cursor: pointer;
}
.PFMapBox > li:nth-child(2) {
  width: 100%;
}
.PFMapBox > li:nth-child(2) > iframe {
  width: 500px;
  height: 300px;
  margin-left: auto;
}

.PFBtnBoxx {
  width: 100%;
  border: 1px solid #000;
  margin: 0 auto;
}
.PFBtnBoxx .PFButton {
  border: 1px solid #00f;
  width: 250px;
  border: none;
  background-color: skyblue;
  height: 40px;
}
.PFBtnBoxx .PFButton > p {
  width: 100%;
  text-align: center;
}