/***************************ShareArea*************************************/
.df {
    display: flex;

    .PostFormLabel1 {
        margin-top: 10px;
        width: 10.5rem;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
        border: 1px solid #f00;

        >h5 {
            font-weight: bold;
            text-align-last: left;
        }
    }

    .PostFormLabel2 {
        width: 100%;
        
        margin-top: 10px;
        border: 1px solid #00f;
    }
}

/*************************PostformBox***************************************/
.PostFormBox {
    width: 100%;
    margin: 30px auto 30px auto;

    >form {

        >h1 {
            margin-bottom: 30px;
            border-bottom: 1px solid #000;
        }
    }
}

//설명
.PFTextArea {
    width: 100%;
    height: 20vh;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: scroll;
}

//가격
.PFPrice {
    width: 180px;
}

//상태
.PFCheck {
    display: flex;

    >li {
        #PFCheckbuy2 {
            margin-left: 20px;
        }
    }
}

//이미지
.PFL2Box {
    >ul {
        width: 100%;
        >li {
            
            .PFImgBox {
                width: 30%;
                >img {
                    width: 100%;
                }
            }
            &:last-child {
                width: 70%;
                padding: 30px;
                p {
                    color: rgb(230, 21, 21);
                    line-height: 25px;
                }
            }
            
        }

    }
}

//카테고리
.PFCBox {
    display: flex;
    
    >li {
        width: 20%;
        >select {
            width: 100%;
            
        }
    }
}

//거래지역
.PFMapBox {
    gap: 20px;
    
    >li {
        

        &:nth-child(1) {
            .PFMap {
                >input {
                    width: 100%;
                    height: 30px;
                    margin-top: 20px;
                    padding: 20px;
                }

                .PFMapCtt {
                    //지도
                    background-color: #fc0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-gap: 10px;
                    gap: 20px;

                    >li {
                        
                        width: 100%;
                        height: 50px;
                        border-radius: 5px;
                        overflow: hidden;
                        

                        >p {
                            text-align: center;
                            line-height: 50px;

                            &:hover {
                                
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            width: 100%;

            >iframe {
                width: 500px;
                height: 300px;
                margin-left: auto;
            }
        }
    }
}

//submit
.PFBtnBoxx {
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: center;


    .PFButton {
        border: 1px solid gray;
        width: 250px;

        background-color: lightblue;
        height: 40px;

        >p {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 20px;
        }
    }

}