.main-box{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #000;
    .SignUpImgBox{
        border: 1px solid #000;
        width: 60%; 
        margin: 0 auto;
        .SignUpImg {
            width: 100%; 
            
        }
    }
    .row1{
        width: 350px;
        margin: 0 auto;
    }
    .rowch {
    }
    p {
        font-weight: bold;
        color: #555;
        margin-top: 10px;
    }
}
.nickOverlap{
    margin-top: 10px;
}
