body {
  overflow-x: hidden;
}

.page_tr {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  display: none;
  pointer-events: none;
}

.sec {
  min-width: 1200px;
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  cursor: pointer;
  display: none;
}

.more {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  background-color: #fff;
  z-index: 9999;
  padding: 30px;
  cursor: pointer;
  display: none;
}
.more h2 {
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.more p {
  font-weight: 1.2rem;
}

.sec01-bt {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.sec01-tit {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 29.7%;
  transform: translateX(-50%);
}

.sec01-g1,
.sec01-g2,
.sec01-g3,
.sec01-g4 {
  position: absolute;
  bottom: 0;
}

.sec01-g1 {
  width: 21.04%;
  left: 15.83%;
  z-index: 8;
}

.sec01-g2 {
  left: 26.3%;
  width: 26.5%;
  z-index: 9;
}

.sec01-g3 {
  left: 44.63%;
  width: 23.43%;
  z-index: 8;
}

.sec01-g4 {
  right: 8.85%;
  width: 30.83%;
  z-index: 7;
}

.sec01-pr {
  position: absolute;
  right: 3.95%;
  bottom: 3.88%;
  width: 15.98%;
  z-index: 10;
}

.sec01-scroll {
  position: absolute;
  left: 50%;
  bottom: 5%;
  width: 4.16%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec02-tit {
  position: absolute;
  left: 50%;
  top: 12.96%;
  width: 29.8%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec02-left, .sec02-right {
  position: absolute;
  top: 35.64%;
  width: 51.56%;
}

.sec02-left {
  left: 0;
  z-index: 9;
}

.sec02-right {
  right: 0;
  z-index: 8;
}

.sec02-scroll {
  position: absolute;
  left: 50%;
  bottom: 6.48%;
  width: 4.16%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec03-tit {
  position: absolute;
  left: 50%;
  top: 19.81%;
  width: 59.58%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec03-pr1,
.sec03-pr2,
.sec03-pr3 {
  position: absolute;
  bottom: 17.77%;
}

.sec03-pr1 {
  width: 59.53%;
  left: 17.91%;
  z-index: 7;
}

.sec03-pr2 {
  width: 21.04;
  left: 46.09%;
  bottom: 19%;
  z-index: 9;
}

.sec03-pr3 {
  width: 51%;
  left: 62.5%;
  bottom: 19%;
  z-index: 8;
}

.sec03-limit {
  position: absolute;
  left: 50%;
  bottom: 7.87%;
  transform: translateX(-50%);
  width: 9.94%;
  z-index: 10;
}

.sec04-btn {
  position: absolute;
  left: 5.625%;
  top: 13.33%;
  width: 17.08%;
  z-index: 5;
  display: flex;
  align-items: flex-start;
}

.sec04-btn > img,
.sec04-btn > a {
  flex: none;
}

.sec04-btn .sec04-btn-tit {
  width: 37.8%;
  z-index: 9;
}

.sec04-btn a {
  width: 24.69%;
  margin-left: -4.62%;
}

.sec04-btn .sec04-btn1 {
  z-index: 8;
}

.sec04-btn .sec04-btn2 {
  z-index: 7;
}

.sec04-btn .sec04-btn3 {
  z-index: 6;
}

.sec04-you {
  position: absolute;
  left: 5.625%;
  top: 19.44%;
  width: 55%;
  height: 55.46%;
  background-color: #f00;
  border-radius: 40px;
  z-index: 10;
  box-shadow: 0 -10px 2px 2px #fff;
  overflow: hidden;
}

.sec04-cont {
  position: absolute;
  right: 6.875%;
  top: 37%;
  width: 24.89%;
  z-index: 10;
}

.sec04-bt-image {
  position: absolute;
  left: 6.14%;
  bottom: 9.25%;
  width: 35.833;
  z-index: 10;
}

.sec04-scroll {
  position: absolute;
  left: 50%;
  bottom: 6.48%;
  width: 4.16%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec05-tit {
  position: absolute;
  right: 7.81%;
  top: 35.64%;
  width: 26.86%;
  z-index: 10;
}

.sec05-input {
  position: absolute;
  right: 7.81%;
  width: 18.3334%;
  z-index: 10;
}

.sec05-input input[type=radio] {
  display: none;
}

.sec05-input1 {
  bottom: 37.96%;
}

.sec05-input2 {
  bottom: 28.07%;
}

.sec05-input3 {
  bottom: 19.53%;
}

.sec05-input label {
  cursor: pointer;
}

.sec05-input input:checked + label img {
  filter: contrast(200%);
}

.sec05-bg02 {
  position: absolute;
  left: 5%;
  bottom: 1%;
  z-index: 9;
}

.sec05-hint {
  position: absolute;
  right: 7%;
  bottom: 10%;
  z-index: 9;
}

.sec06-tit {
  position: absolute;
  left: 7.81%;
  top: 45%;
  width: 34%;
  z-index: 10;
}

.sec06-input {
  position: absolute;
  left: 7.81%;
  width: 16.7%;
  z-index: 10;
}

.sec06-input input[type=radio] {
  display: none;
}

.sec06-input1 {
  bottom: 37.96%;
}

.sec06-input2 {
  bottom: 28.07%;
}

.sec06-input3 {
  bottom: 19.53%;
}

.sec06-input4 {
  bottom: 10.53%;
}

.sec06-input label {
  cursor: pointer;
}

.sec06-input input:checked + label img {
  filter: contrast(200%);
}

.sec06-bg02 {
  position: absolute;
  right: 5%;
  bottom: 1%;
  z-index: 9;
}

.sec06-hint {
  position: absolute;
  left: 8%;
  bottom: 0;
  z-index: 9;
}

.sec07-tit {
  position: absolute;
  right: 7.81%;
  top: 35.64%;
  width: 26.86%;
  z-index: 10;
}

.sec07-input {
  position: absolute;
  right: 7.81%;
  width: 18.3334%;
  z-index: 10;
}

.sec07-input input[type=radio] {
  display: none;
}

.sec07-input1 {
  bottom: 37.96%;
}

.sec07-input2 {
  bottom: 28.07%;
}

.sec07-input3 {
  bottom: 19.53%;
}

.sec07-input label {
  cursor: pointer;
}

.sec07-input input:checked + label img {
  filter: contrast(200%);
}

.sec07-bg02 {
  position: absolute;
  left: 5%;
  bottom: 1%;
  z-index: 9;
}

.sec07-hint {
  position: absolute;
  right: 7%;
  bottom: 10%;
  z-index: 9;
}

.sec08-tit {
  position: absolute;
  left: 50%;
  top: 12.96%;
  width: 29.8%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec08-input {
  position: absolute;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  z-index: 10;
}
.sec08-input input {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 75%;
  height: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
}

.sec08-input1 {
  top: 35%;
}

.sec08-input2 {
  top: 43%;
}

.sec08-input3 {
  top: 51%;
}

.sec08-input4 {
  top: 59%;
  width: 32%;
  left: 54%;
}

.sec08-agree {
  position: absolute;
  left: 50%;
  top: 76%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: #fff;
  font-weight: bold;
}
.sec08-agree input[type=checkbox] {
  display: none;
}
.sec08-agree label {
  position: relative;
}
.sec08-agree label::before {
  content: "";
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  vertical-align: top;
  margin-right: 10px;
}
.sec08-agree input:checked + label::before {
  background-color: rgb(56, 56, 202);
}
.sec08-agree img {
  position: absolute;
  width: 81px;
  right: -30%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sec08-party {
  position: absolute;
  width: 27.5%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

.sec08-loreo {
  position: absolute;
  width: 15%;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sec08-roreo {
  position: absolute;
  width: 15%;
  right: -8%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sec09-tit {
  position: absolute;
  left: 50%;
  top: 12.96%;
  width: 35%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec09-gift {
  position: absolute;
  width: 13%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec09-gift01 {
  width: 18%;
  left: 24%;
  top: 30%;
}

.sec09-gift02 {
  width: 32%;
  left: 50%;
  top: 30%;
}

.sec09-gift03 {
  width: 14%;
  left: 74%;
  top: 30%;
}

.sec09-gift04 {
  left: 24%;
  top: 60%;
}

.sec09-gift05 {
  width: 14%;
  left: 41%;
  top: 60%;
}

.sec09-gift06 {
  width: 11.2%;
  left: 58%;
  top: 60%;
}

.sec09-gift07 {
  width: 14.5%;
  left: 74%;
  top: 60%;
}

.sec09-loreo {
  position: absolute;
  width: 13%;
  left: 6%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.sec09-roreo {
  position: absolute;
  width: 13%;
  right: -8%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.sec09-event {
  position: absolute;
  width: 50%;
  right: 0%;
  bottom: 4%;
  transform: translate(-50%, -50%);
}

.sec10-tit {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 29.8%;
  transform: translateX(-50%);
  z-index: 10;
}

.sec10-input {
  position: absolute;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  z-index: 10;
}
.sec10-input input {
  position: absolute;
  top: 50%;
  left: 66%;
  width: 65%;
  height: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
}

.sec10-input1 {
  top: 14%;
}

.sec10-input2 {
  top: 18%;
}

.sec10-input3 {
  top: 22%;
}

.sec10-agree {
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: #fff;
  font-weight: bold;
}
.sec10-agree input[type=checkbox] {
  display: none;
}
.sec10-agree label {
  position: relative;
}
.sec10-agree label::before {
  content: "";
  margin-right: 5px;
  vertical-align: bottom;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  vertical-align: top;
  margin-right: 10px;
}
.sec10-agree input:checked + label::before {
  background-color: rgb(56, 56, 202);
}
.sec10-agree img {
  position: absolute;
  width: 81px;
  right: -30%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sec10-link {
  position: absolute;
  width: 27.5%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.sec10-party {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}

.sec10-review {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.sec10-loreo {
  position: absolute;
  width: 15%;
  left: 7%;
  top: 21%;
  transform: translate(-50%, -50%);
}

.sec10-roreo {
  position: absolute;
  width: 13%;
  right: -8%;
  top: 37%;
  transform: translate(-50%, -50%);
}

.sec10-lboreo {
  position: absolute;
  width: 12%;
  left: 7%;
  top: 75%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=index.css.map */