@charset 'UTF-8';
/* 한글 깨짐 방지 */
/* 여백 초기화 */
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dt,dd,table,tr,td,th,form,fieldset,legend,input,select,textarea,button,label,address,img,a,header,main,section,nav,article,footer,div 
{margin: 0; padding: 0;}

/* 리스트타입 초기화 */
ul, ul {list-style: none;}

/* 이미지,필드셋 테둗리 제거 */
img, fieldset {border: 0 none;}

/* 타이포 설정 */
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button { 
    font-family: 'Noto Sans Kr','Malgun Gothic','맑은 고딕', sans-serif;
    font-size: 14px;
    color: #555;
    letter-spacing: -1px;
    line-height: 1.6;
    font-weight: normal;
}

/* a요소 장식제거, 글자색상 변경 */
a {
    text-decoration: none;
    color: inherit;
}

/* float사용시 clear설정 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* 컨텐츠 화면에서 숨기기*/
.blind {
    position: absolute;
    width: 1px;height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0,0 0,0 0);
}

/* 박스계산법 변경하기 border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 인라인요소 수직정렬(사이트,회사마다 다름) */
img { vertical-align: top;}
input, button, select, textarea {vertical-align: middle;}
