.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .Ctgitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(320deg, rgb(250, 250, 250), rgb(95, 105, 242));
  
    /* linear-gradient : 그라데이션 주기! */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 20%;
    padding: 2%;
    margin: 0.5%;
  }
  
  img {
    width: 100%;
    margin-bottom: 5%;
  
    /* border-radius: 50%; */
  }
  
  table {
    text-align: center;
    width: 100%;
  }
  
  td {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 2.5% 0;
  }
  
  tr > td {
    &:nth-child(1) {
      width: 30%;
    }
  
    &:nth-child(2) {
      width: 70%;
    }
  }
  