*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 5rem;
    margin: 5% 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bolder;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(320deg, rgb(250, 250, 250) , rgb(95, 105, 242));
    /* linear-gradient : 그라데이션 주기! */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 20%;
    padding: 2%;
    margin: 0.5%;
}
img{
    width: 100%;
    margin-bottom: 5%;
    /* border-radius: 50%; */
}
table{
    text-align: center;
    width: 100%;
}
td{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 2.5% 0;
}
tr>td:nth-child(1){
    width: 30%;
}
tr>td:nth-child(2){
    width: 70%;
}