
.ctgCtn{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px 30px 0 30px;
  gap: 20px;
}
.ctgItem{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
table{
  text-align: center;
}

td{
  padding-bottom: 10%;  
  font-weight: bold;
  font-size: 1.1rem;
  
}
.ctgImgBox {
  border-radius: 15px;
  width: 100%;height: 200px;
  background-size:cover;
}
.ctgCttBox {
  
  border: 1px solid #00f;
  
  
}


  

