@charset "UTF-8";

/*여백 초기화*/
/*사이트 전체에서 사용하는 태그를 지정하여 마진패딩0*/
html, body, h1, h2, h3, h4, p, a, div, ul, ol, li, img, form, fieldset, legend, input, button{ margin: 0; padding: 0; }

/*2. 타이포설정, body배경색 흰색으로 설정하기*/
/* 폰트종류, 폰트크기, 줄간격, 글자색상*/
body{ font-family: '맑은고딕'; font-size: 16px; line-height: 1;color: #333; font-weight: normal; background-color: #fff; }

/*3. a요소 글자 장식 제거, 색상 상속*/
a, a:hover{ text-decoration: none; color: inherit; }

/*4. li 스타일 제거*/
li{ list-style: none; }

/* Float요소 clear하기*/
.clearfix::after{ content: ''; display: block; clear: both; }

/*컨텐츠 화면에서 숨기기*/
.blind{ position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0,0 0,0 0); }

/*박스사이즈 계산법 변경*/
*, *::before, *::after{ box-sizing:border-box; }

/*인라인요소 수직위치 정렬*/
img, input, button { vertical-align: middle; }

/* table요소 설정 */
table { border-spacing: 0; border-collapse: collapse; }
fieldset {border: none;}