.head ul {
  display: flex;
}
.head ul li {
  border: 1px solid #000;
  background-color: #f00;
}
.head ul li:nth-child(1) {
  background-color: #fc0;
  margin-right: 50px;
}
.head ul li:nth-child(2) {
  background-color: #fc0;
  margin-right: 597px;
}
.head ul li:nth-child(2) .search {
  width: 300px;
  padding-left: 30px;
  position: relative;
}